---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1030px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
#help-index #faq.section .all-faq {
  margin: 0 auto;
  text-align: left;
  width: 960px;
}
.faq-group {
  display: inline-block;
  margin: 30px 20px 0 0;
  vertical-align: top;
  width: 300px;
}
#help-index #faq.section .faq-group .faq-list {
  color: #ccc;
  list-style: outside none disc;
  margin: 10px 20px 0 25px;
}

#help-index #faq.section .faq-group .faq-list li a {
  display: block;
  font-size: 14px;
  line-height: 1em;
}

a {
  color: #4298ba;
  text-decoration: none;
}
a:hover,a:focus{
  color: #0d72ba;
  text-decoration: none;
}
a {
  background: transparent none repeat scroll 0 0;
  font-size: 14px;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
*::-moz-placeholder {
  color: #999999 !important;
}
h2 {
  color: #476f67;
  font-size: 26px;
  text-align: center;
  font-weight: bold;
}

.site-header{
  border-top: none;
}
h3{
  font-weight: bold;
}
.faq-list {
  color: #ccc;
  list-style: outside none disc;
}